/**********************************************************
    FORM - POST ARTICLES
***********************************************************/

.form-post-article {
    display: flex; 
    font-size: 15px;
    color: white;
    justify-content: center;
    margin-top: 50px;
}