// @import '~bootstrap/scss/bootstrap';

// Refactor: 3 class deep.

/* BLUE #002855 */
/* YELLOW #c99700 */
// gray rgb(238, 238, 238)

// <img src="img" alt="eviCore Healthcare Logo">
/*
    Queries
*/

.show {
    display: block;
    margin-top: 3px; 
}

.hide {
    display: none;
}

@media (min-width: 992px) {
    section {
        max-width: 992px;
    }
}

@media (min-width: 720px) {
    .article-category-container {
        min-width: 918px;
    } 
}

@media (max-width: 576px) {
    #article-category-container{
        flex-flow: column wrap;
        max-width: 350px;
        margin-left: 3vw;
        // margin-left: 20px;
        // justify-content: space-evenly;

    }
    .helper-section {
        max-width: 350px;

        img {
            max-width: 350px;
        }
    }

}

// @media (min-width: 577px) {
//     .article-category-container {
//         justify-content: space-evenly;
//         max-width: 350px;
//     }
// }


/*
    VARIABLES
*/

/*
    MAPS
*/

$colors: (
    primary-blue: #002855,
    primary-yellow: #c99700,
    border-blue: #001935,
    nav-footer: #EFEFEF,
    body: #F8F8F8,
    category-box: #FFF
);

/*
    FUNCTIONS
*/

@function color($color-name) {
    @return map-get($colors, $color-name);
}

/*
    STUFF
*/

* {
    box-sizing: border-box;
}

#root, body, html {
    min-height: 100%;
    height: 100vh;
}

body {
    font-family: "Arial";
    margin: 0;

    .container {
        display: grid;
        grid-template-rows: 187px auto 10%;
        height: 100%;

            .header-wrapper {
                display: block;
                height: 187px;
                grid-column-start: 1;
                position: relative;
                z-index: 999;
                width: 100%;
                background-color: color(nav-footer);

                .mobile-header {
                    display: block;
                    position: relative;
                    height: 70px;
                    box-sizing: border-box;

                    .mobile-header-inner {
                        margin: 0 auto;
                        padding: 1em 10px 0 10px;
                        position: relative;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        .header-logo {
                            height: 51px;
                        }
                    }
                }

                .page-title {
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin: 10 auto 0 auto;
                    text-align: center;
                    color: color(primary-blue);
                }

                .search-container {
                    display: flex;
                    justify-content: center;
                    height: 65px;

                    .search {
                        display: block;
                        position: relative;
                        padding-top: 12px;
                        width: 300px;
                        height: 40px;

                        .placeicons {
                            font-family: fontawesome;
                        }

                        .query-search {
                            width: 100%;
                            height: 30px;
                            border: 1px solid #f8f8f8;
                            border-radius: .5em;
                            text-align: left;
                            padding-left: 7%;
                            letter-spacing: 1.1px;
                            box-shadow: 2px 3px 2px rgba(119, 119, 119, 0.05);
                        }

                    }

                }
            }

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // margin: 30px auto;

                #most-viewed-articles {
                    margin-top: 0;
                }

                .main-section-wrapper {
                    margin: 30px auto;

                    .section-title {
                        text-align: center;
                        color: color(primary-blue);
                        letter-spacing: 1px;
                    }

                    .most-viewed-hr {
                        max-width: 105px;
                        color: #C8C8C8;
                    }

                    .home-list-container {
                        list-style: none;
                    }

                    #home-article-container {
                        justify-content: space-evenly;
                        justify-items: center;
                        margin: 25px 0 0 0;
                        letter-spacing: 1.1px;
                        font-size: 14px;
                    }

                    .home-article-container {
                        list-style: none;
                        flex-direction: column;
                        margin: 50px 0;

                        .article-link {

                            &:visited,
                            &:active,
                            &:hover {
                                color: color(primary-blue);
                                text-decoration: underline;
                            }
                            text-decoration: none;
                        }

                    }

                    .flex-container {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        width: 100%;
                        margin: 0;
                        padding: 0;

                        .category-link {
                            color: color(primary-blue);
                            background-color: transparent;
                            text-decoration: none;
                            font-weight: 400;
                            text-size-adjust: 100%;
    
                            .flex-item {
                                background: color(category-box);
                                box-shadow: 0px 7px 20px rgba(119, 119, 119, 0.30);
                                border-radius: 5px;
                                font-weight: 700;
                                margin: 10px;
                                padding: 35px 5px 5px 5px;
                                text-align: center;
    
                                h2 {
                                    color: color(primary-yellow);
                                    letter-spacing: 1px;
                                }
    
                                h3 {
                                    font-size: 13px;
                                    font-weight: 300;
                                    letter-spacing: 1.2px;
                                }
    
                            }
    
                            .category-items {
                                width: 240px;
                                height: 260px;
                            }
    
                            #font-icons {
                                padding-top: 15px;
                                font-size: 50px;
                            }
    
                            hr {
                                max-width: 44px;
                                color: #C8C8C8;
                            }
                        }
                    }
                }

            }

            .main-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: color(nav-footer);
                color: color(primary-blue);
                text-align: center;

                h3 {
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: 1.2px;
                }
            }
    }
}

/*
    ARTICLES LANDING
*/

.article-landing-main {
    margin-top: 50px;
}

.article-category-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-flow: row wrap;
    margin: 30px auto;

    .article-category-wrapper {
        width: 300px;
    }
}

.article-category-list {
    line-height: 2em;

    hr {
        display: block;
        height: 3px;
        margin: 6px 0 12px;
        background-color: color(primary-blue);
        width: 26%;
    }

    h3 {
        // text-align: center;
        margin-bottom: 0;
        letter-spacing: 1.1px;
        color: color(primary-yellow);
    }


}

.article-link {
    text-decoration: none;
    color: color(primary-blue);

    &:visited,
    &:active,
    &:hover {
        color: color(primary-blue);
        text-decoration: underline;
    }
    
}

textarea:focus,
input:focus {
    outline: none;
}

li {
    list-style: none;
}

/** SIDEBAR **/

.article-sidebar-list {

    .article-category-button {
        display: inline-block;
        border: none;
        font-size: 15px;
        letter-spacing: 1.1px;
        background: none;
        padding: 0;

        &:focus,
        &:active {
            outline: none;
        }

    }
}

.article-category-button-active {
    display: inline-block;
    border: none;
    font-size: 15px;
    letter-spacing: 1.1px;
    background: none;
    padding: 0;
    font-weight: 700;
    
    &:focus,
    &:active {
        outline: none;
    }
}

.article-sidebar {
    width: 300px;
    border-right: 1px solid #EFEFEF;
    margin: 10px 0;
}

.sidebar-article-link {
    margin-left: 2px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    line-height: 2em;
    font-size: 12px;
    position: relative;
    color: color(primary-blue);

    &:nth-of-type(1) {
        margin-top: 100px;
    }

    &:visited,
    &:active,
    &:hover {
        color: color(primary-blue);
        text-decoration: underline;
    }

    &:focus {
        border-left: 4px solid color(primary-yellow);
    }
    
}

.view-article-container {
    display: grid;
}

// **************************************


.side-drawer {
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0 , 0.5);
    position:fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
}

.backdrop {
    position: fixed;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    top: 0;
    left: 0;
}

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-aroud;
    height: 24px;
    widows: 28px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    .toggle-button__line {
        width: 28px;
        height: 1px;
        background: white;
    }
}