// @import '~bootstrap/scss/bootstrap';

@import './_colors';

@import './articlelanding';
@import './articleview';
@import './dashboard';
@import './homepage';
@import './modals';
@import './sidebar';
@import './signin';
@import './videolanding';

/**********************************************************
    NEEEDS REFACTOR
***********************************************************/

* {
    box-sizing: border-box;
}

#root, body, html {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    background: color(hr-line);
}

body {
    font-family: "Arial";
    margin: 0;

    .container {
        // display: grid;
        // grid-template-rows: 187px auto 50%;
        height: 100%;

            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;

                #most-viewed-articles {
                    margin-top: 0;
                }
            }

            
    }
}

textarea:focus,
input:focus {
    outline: none;
}

li {
    list-style: none;
}

/**********************************************************
    QUERIES
***********************************************************/
// 992 prior
@media (min-width: 772px) {
    section {
        max-width: 772px;
    }
}

@media (min-width: 720px) {
    .category-container {
        min-width: 918px;
    } 

}

@media (max-width: 1040px) {
    #article-view-main {
        margin: 10px 30px;
    }

    .image-container {
        left: 30vw;
    }

}

@media (max-width: 576px) {
    #article-category-container,
    #video-category-container {
        flex-flow: column wrap;
        max-width: 350px;
        margin-left: 3vw;
    }

    .article-category-container,
    .video-category-container {
        flex-flow: column wrap;
        max-width: 350px;
        margin-left: 3vw;
    }

    .helper-section {
        max-width: 350px;

        img {
            max-width: 350px;
        }
    }

    .view-article-container {
        flex-wrap: wrap;

        .article-view-main {
            order: 1;
            width: 300px;
            border-bottom: 1px solid color(hr-line);
        }

        .item-sidebar {
            order: 2;
            border: none;
            margin-left: 30px;
            margin-bottom: 50px;
        }
    }

    #article-view-main {
        margin: 10px 50px;
    }

    .item-sidebar {

        hr {
            margin-left: 20px;
            width: 99%;
        }
    }
}
